.container {
  display: flex;
  flex-direction: row;
  height: 93vh;
  width: -webkit-fill-available;
}

.chat-code-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
}

.agent-container {
  flex: 1;
}
