.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  gap: 0.5rem;
}

.container > h1 {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
}

.box {
  position: relative;
}

.box > label {
  position: absolute;
  font-size: 0.75rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #0d0d0d;
  background-color: #fff;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

.box > input {
  font-size: 0.75rem;
  outline: none;
  border: 1px solid #000;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: #0d0d0d;
  transition: 0.1s ease-out;
}

.box > input:focus {
  border-color: rgba(102, 205, 239, 1);
}

.box > input:focus + label {
  color: rgba(102, 205, 239, 1);
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.box > input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.box > label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error {
  color: #ff8682;
}

.provider-selector {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
