.container {
  display: flex;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(102, 205, 239, 0.3) 0,
    rgba(158, 110, 230, 0) 100%
  );
  height: 100%;
}

.folder-item {
  margin-left: 4px;
  cursor: pointer;
  user-select: none;
}

.folder-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  user-select: none;
}

.folder-name > svg {
  width: 16px;
  height: 16px;
}

.folder-children {
  margin-left: 4px;
}
